/* Write your code here. */
ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.active-img {
  max-width: 500px;
  align-self: center;
}

.bg {
  padding: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
